# API Keys
HF_TOKEN=
OPENROUTER_API_KEY=
GROQ_API_KEY=
# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=yogateria_chat
DB_USER=postgres
DB_PASSWORD=

# App Configuration
QDRANT_URL=http://localhost:6333
COLLECTION_NAME=yogateria_products_v2
PRODUCT_DATA_PATH=
LLM_MODEL=google/gemini-2.5-flash-lite
EMBED_MODEL=BAAI/bge-small-en-v1.5

# Add the URL to your API here
PRODUCT_API_URL=

# Add your publishable key here
X_PUBLISHABLE_KEY=

# Add the URL to your order API here
ORDER_API_URL=

# TinyERP Configuration
# URL for TinyERP orders API 
TINY_ERP_URL=

# TinyERP API Key (x-publishable-api-key header)
TINY_ERP_API_KEY=
